In [1]:
import pandas as pd

In [2]:
countries = ['AT', 'BE', 'CZ', 'DE_LU', 'FR', 'HR', 'HU', 'NL', 'PL', 'RO', 'SI', 'SK']

borders = {
    'AT': ['DE', 'CZ', 'HU', 'SI'], 
    'BE': ['FR', 'NL', 'DE'], 
    'CZ': ['DE', 'PL', 'SK', 'AT'], 
    'DE_LU': ['NL', 'PL', 'BE', 'FR', 'CZ', 'AT'], 
    'FR': ['BE', 'FR'], 
    'HR': ['HU', 'SI'], 
    'HU': ['AT', 'SK', 'SI', 'RO', 'HR'], 
    'NL': ['BE', 'DE'], 
    'PL': ['DE', 'CZ', 'SK'], 
    'RO': ['HU'], 
    'SI': ['AT', 'HU', 'HR'], 
    'SK': ['PL', 'CZ', 'HU']
}

In [4]:
df_da_prices = pd.read_excel("../data-july/day_ahead_prices.xlsx", index_col=0)
df_demand = pd.read_excel("../data-july/demand.xlsx", index_col=0)
df_ren_gen = pd.read_excel("../data-july/renewable_generation.xlsx", index_col=0)
df_gen_forecast = pd.read_excel("../data-july/generation_forecast.xlsx", index_col=0)

df_da_prices = df_da_prices.fillna(0)
df_demand = df_demand.fillna(0)
df_ren_gen = df_ren_gen.fillna(0)
df_gen_forecast = df_gen_forecast.fillna(0)

In [7]:
# renewable generation as exogenous

for zone in countries:
    df_dataset = pd.DataFrame()
    df_dataset['Date'] = df_da_prices.index
    df_dataset.set_index('Date', inplace = True)
    df_dataset['Price'] = df_da_prices[zone]
    df_dataset['Exogenous 1'] = df_demand[zone]
    df_dataset['Exogenous 2'] = df_ren_gen[zone]
    df_dataset.to_csv('./datasets/{0}_CORE_ren.csv'.format(zone))

# total generation as exogenous

for zone in countries:
    df_dataset = pd.DataFrame()
    df_dataset['Date'] = df_da_prices.index
    df_dataset.set_index('Date', inplace = True)
    df_dataset['Price'] = df_da_prices[zone]
    df_dataset['Exogenous 1'] = df_demand[zone]
    df_dataset['Exogenous 2'] = df_gen_forecast[2:][zone]
    df_dataset.to_csv('./datasets/{0}_CORE.csv'.format(zone))

In [6]:
display()

,AT,BE,CZ,DE_LU,FR,HR,HU,NL,PL,RO,SI,SK
2022-09-01 00:00:00,4405,10132.0,7991.0,48860.0,32688.0,988.0,2977.00,9272.50,14863.0,0.00,1077.0,2382.0
2022-09-01 01:00:00,4266,10436.0,7466.0,46902.0,32148.0,994.0,2963.25,8394.75,14647.0,4599.00,1017.0,2268.0
2022-09-01 02:00:00,4292,10204.0,7474.0,45311.0,30197.0,993.0,2948.75,8176.50,14493.0,4743.75,1015.0,2154.0
2022-09-01 03:00:00,4333,10465.0,7156.0,44523.0,30379.0,1017.0,2944.00,8031.25,14557.0,4925.25,1016.0,2040.0
2022-09-01 04:00:00,4396,10647.0,7828.0,44138.0,30595.0,1048.0,2933.50,7991.75,14720.0,5002.50,1014.0,1987.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-29 19:00:00,5694,8693.0,6362.0,36700.0,44750.0,1722.0,3132.50,7487.00,14057.0,5257.00,2155.0,2933.0
2023-07-29 20:00:00,6968,10158.0,6383.0,33781.0,44880.0,1689.0,2948.50,7349.50,13736.0,5299.50,2152.0,3111.0
2023-07-29 21:00:00,7298,9993.0,6596.0,32903.0,44343.0,1681.0,2961.75,7291.50,13602.0,5354.25,2154.0,3113.0
2023-07-29 22:00:00,7145,10018.0,6512.0,32433.0,44704.0,1666.0,2941.25,7304.25,12670.0,5352.00,2137.0,2887.0
2023-07-29 23:00:00,5983,9305.0,6263.0,32349.0,43901.0,1616.0,2839.25,7260.25,12150.0,5327.25,1984.0,2785.0