In [2]:
import pandas as pd

hubs = ['ALBE', 'ALDE', 'AT', 'BE', 'CZ', 'DE_LU', 'FR', 'HR', 'HU', 'NL', 'PL', 'RO', 'SI', 'SK']

gen_types = [
    'biomass', 'brown_coal', 'coal_gas', 'natural_gas', 'hard_coal', 'oil', 'oil_shale', 'peat', 'geothermal', 
    'hydro_pumped_storage', 'hydro_run_of_river', 'hydro_reservoir', 'marine', 'nuclear', 'other', 'other_renewable',
    'solar', 'waste', 'wind_offshore', 'wind_onshore'
]

reduced_gen_types = [
    'biomass', 'brown_coal', 'coal_gas', 'natural_gas', 'hard_coal', 'oil', 'hydro', 
    'nuclear', 'waste', 'other', 'solar', 'wind_onshore', 'wind_offshore', 'other_renewable'
]

In [ ]:
with pd.ExcelWriter("./for_io/generation.xlsx") as writer:  
    for country_code in countries:
        df_gen = pd.read_excel("generation.xlsx", sheet_name=country_code, index_col=0)
        print(country_code)
        
        df_gen.loc[:, 'hydro'] = df_gen['hydro_pumped_storage'] + df_gen['hydro_run_of_river'] + df_gen['hydro_reservoir']
        df_gen = df_gen[reduced_gen_types]
        
        df_gen.to_excel(writer, sheet_name=country_code)

In [19]:
df_capacities = pd.read_excel("./for_io/installed_capacities.xlsx", index_col=0)
df_capacities = df_capacities.drop([df_capacities.index[6], df_capacities.index[7], df_capacities.index[8], df_capacities.index[12]])
df_capacities = df_capacities.rename(index={'hydro_pumped_storage': 'hydro'})
    
for column in df_capacities:
    df_capacities.loc['hydro', column] = df_capacities.loc['hydro', column] + df_capacities.loc['hydro_run_of_river', column] + df_capacities.loc['hydro_reservoir', column]

df_capacities = df_capacities.drop([df_capacities.index[7], df_capacities.index[8]])

df_capacities.reindex(reduced_gen_types)

display(df_capacities)

df_capacities.to_excel("./optimisation/data/installed_capacities.xlsx")

,AT,BE,CZ,DE_LU,FR,HR,HU,NL,PL,RO,SI,SK
biomass,482,700,410,8379,1301,111,213,572,647,116,13,234
brown_coal,0,0,7250,18544,0,0,1007,0,7560,2497,936,276
coal_gas,0,0,380,0,0,0,0,0,284,0,0,0
natural_gas,4350,6819,1240,30649,13074,750,3974,18530,3807,2218,626,1183
hard_coal,0,0,1200,18830,1816,217,42,4006,19073,176,0,1
oil,164,398,0,3966,2762,75,425,0,393,0,58,259
hydro,11815,1493,2281,14373,25669,2155,61,38,2376,6137,1307,2546
nuclear,0,5943,4040,4056,61370,0,1916,486,0,1300,696,2003
other,954,19,0,1679,1157,0,0,1,1524,0,0,627
other_renewable,0,0,410,352,0,57,70,0,0,0,0,115
solar,2500,4788,2053,58002,13154,96,2524,14911,6664,1160,286,532
waste,103,384,100,1620,947,6,49,763,0,0,36,0
wind_offshore,0,2254,0,7787,20,0,0,2460,0,0,0,0
wind_onshore,3500,2787,339,55456,19516,925,323,5310,7950,2957,2,3