In [2]:
from entsoe import EntsoePandasClient
import pandas as pd
import matplotlib.pyplot as plt

client = EntsoePandasClient(api_key="b18dfce9-f1e3-4d07-822f-4abd1438e602")

In [3]:
start = pd.Timestamp('20220901', tz='Europe/Amsterdam')
end = pd.Timestamp('20230228', tz='Europe/Amsterdam')

countries = ['AT', 'BE', 'CZ', 'DE_LU', 'FR', 'HR', 'HU', 'NL', 'PL', 'RO', 'SI', 'SK']

In [4]:
df_demand = pd.DataFrame()
for country_code in countries:
    df_da = client.query_load_forecast(country_code, start=start, end=end)

    df_da = df_da.rename(columns={
        'Forecasted Load': country_code, 
    })
    
    df_da = df_da.tz_localize(None)
    df_da = df_da.resample("H").agg(["mean"])
    df_da.columns = [country_code]
    
    if df_demand.empty:
        df_demand = df_da.copy()
    else:
        df_demand[country_code] = df_da[country_code]
        
df_demand.to_excel("demand.xlsx")

In [5]:
display(df_demand)

,AT,BE,CZ,DE_LU,FR,HR,HU,NL,PL,RO,SI,SK
2022-09-01 00:00:00,5543.0,8406.00,5790.0,45334.25,42950.0,1735.0,4266.25,11922.75,16800.0,NaN,1271.0,2410.0
2022-09-01 01:00:00,5275.0,8041.75,5743.0,43953.25,40100.0,1605.0,4077.00,11513.50,16250.0,5390.0,1223.0,2310.0
2022-09-01 02:00:00,5173.0,7850.25,5547.0,42950.00,39150.0,1536.0,3897.25,11274.00,15850.0,5255.0,1200.0,2230.0
2022-09-01 03:00:00,5065.0,7700.75,5475.0,42986.25,36950.0,1534.0,3832.25,11148.50,15750.0,5210.0,1187.0,2210.0
2022-09-01 04:00:00,5180.0,7752.25,5576.0,43996.50,36250.0,1537.0,3892.75,11117.25,16050.0,5222.5,1213.0,2210.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-27 19:00:00,8229.0,11306.75,9087.0,66912.25,71350.0,2794.0,5799.00,13668.25,24600.0,7685.0,1939.0,3500.0
2023-02-27 20:00:00,7702.0,10645.25,8842.0,64073.25,68600.0,2679.0,5603.00,13107.50,24200.0,7570.0,1856.0,3300.0
2023-02-27 21:00:00,7130.0,10114.00,8374.0,61177.25,65000.0,2603.0,5371.50,12579.00,22850.0,7157.5,1728.0,3120.0
2023-02-27 22:00:00,6953.0,10060.75,7957.0,58742.75,63600.0,2391.0,5081.00,12020.00,20850.0,6630.0,1599.0,2940.0
2023-02-27 23:00:00,6499.0,9841.00,7550.0,55726.00,65000.0,2139.0,4815.00,11509.50,19600.0,6137.5,1489.0,2900.0