In [1]:
import pandas as pd

In [2]:
df_fuel = pd.read_excel("./for_io/fuel_prices.xlsx", index_col=0)
df_demand = pd.read_excel("./for_io/demand.xlsx", index_col=0)

In [28]:
df_fuel_expanded = pd.DataFrame()
df_fuel_expanded.index = df_demand.index

df_fuel_expanded.index = pd.to_datetime(df_fuel_expanded.index)
display(df_fuel_expanded.index)

for index, row in df_fuel_expanded.iterrows():
    df_fuel_expanded.loc[index, 'coal'] = df_fuel.loc[index.replace(hour=0, minute=0), 'coal']
    df_fuel_expanded.loc[index, 'oil'] = df_fuel.loc[index.replace(hour=0, minute=0), 'oil']
    df_fuel_expanded.loc[index, 'gas'] = df_fuel.loc[index.replace(hour=0, minute=0), 'gas']
    df_fuel_expanded.loc[index, 'eua'] = df_fuel.loc[index.replace(hour=0, minute=0), 'eua']
    
display(df_fuel_expanded)

DatetimeIndex(['2022-09-01 00:00:00', '2022-09-01 01:00:00',
               '2022-09-01 02:00:00', '2022-09-01 03:00:00',
               '2022-09-01 04:00:00', '2022-09-01 05:00:00',
               '2022-09-01 06:00:00', '2022-09-01 07:00:00',
               '2022-09-01 08:00:00', '2022-09-01 09:00:00',
               ...
               '2023-02-27 14:00:00', '2023-02-27 15:00:00',
               '2023-02-27 16:00:00', '2023-02-27 17:00:00',
               '2023-02-27 18:00:00', '2023-02-27 19:00:00',
               '2023-02-27 20:00:00', '2023-02-27 21:00:00',
               '2023-02-27 22:00:00', '2023-02-27 23:00:00'],
              dtype='datetime64[ns]', length=4320, freq=None)

                      coal        oil     gas     eua
2022-09-01 00:00:00  358.0  92.360000  268.00   89.05
2022-09-01 01:00:00  358.0  92.360000  268.00   89.05
2022-09-01 02:00:00  358.0  92.360000  268.00   89.05
2022-09-01 03:00:00  358.0  92.360000  268.00   89.05
2022-09-01 04:00:00  358.0  92.360000  268.00   89.05
...                    ...        ...     ...     ...
2023-02-27 19:00:00  149.0  77.783019   52.25  105.16
2023-02-27 20:00:00  149.0  77.783019   52.25  105.16
2023-02-27 21:00:00  149.0  77.783019   52.25  105.16
2023-02-27 22:00:00  149.0  77.783019   52.25  105.16
2023-02-27 23:00:00  149.0  77.783019   52.25  105.16

[4320 rows x 4 columns]

In [30]:
df_fuel_expanded.to_excel("./for_io/fuel_prices.xlsx")