In [1]:
import pandas as pd
import numpy as np

In [8]:
zones =  ["ALBE", "ALDE", "AT", "BE", "CZ", "DE_LU", "FR", "HR", "HU", "NL", "PL", "RO", "SI", "SK"]

plant_types = [
    "biomass", "brown_coal", "coal_gas", "natural_gas", "hard_coal", "oil", "hydro", 
    "nuclear", "waste", "other"
]

In [2]:
df_kyos = pd.read_excel('./kyos_plant_database.xlsx')
display(df_kyos)

,legalentity,plantname,powercommid,reportingcommid,comm1id,comm1multiplier,co2commid,mustrun,ischp,isbattery,...,y2mar,y2apr,y2may,y2jun,y2jul,y2aug,y2sep,y2oct,y2nov,y2dec
0,Nuon,MAGNUM - 1,NL,natural_gas,1,1.0,8,0,0,0,...,0.95,0.85,0.85,0.85,0.85,0.85,0.85,0.95,0.95,0.95
1,Nuon,MAGNUM - 2,NL,natural_gas,1,1.0,8,0,0,0,...,0.95,0.85,0.85,0.85,0.85,0.85,0.85,0.95,0.95,0.95
2,Nuon,MAGNUM - 3,NL,natural_gas,1,1.0,8,0,0,0,...,0.95,0.85,0.85,0.85,0.85,0.85,0.85,0.95,0.95,0.95
3,RWE,MOERDIJK-2,NL,natural_gas,1,1.0,8,0,0,0,...,0.95,0.85,0.85,0.85,0.85,0.85,0.85,0.95,0.95,0.95
4,RWE,MOERDIJK-1,NL,natural_gas,1,1.0,8,0,1,0,...,0.95,0.85,0.85,0.85,0.85,0.85,0.85,0.95,0.95,0.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1587,Enel Green Power,Entracque Chiotas,IT,hydro,0,0.0,0,0,0,1,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
1588,Enel Green Power,Roncovalgrande,IT,hydro,0,0.0,0,0,0,1,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
1589,Enel Green Power,Domenico Cimarosa (Presenzano),IT,hydro,0,0.0,0,0,0,1,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
1590,Enel Green Power,Provvidenza,IT,hydro,0,0.0,0,0,0,1,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
1591,IREN ENERGIA S.p.A.,Pont Ventoux-Susa,IT,hydro,0,0.0,0,0,0,1,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [18]:
efficiencies = np.zeros((len(zones), len(plant_types)))

natural_gas_i = plant_types.index('natural_gas')
brown_coal_i = plant_types.index('brown_coal')
hard_coal_i = plant_types.index('hard_coal')
oil_i = plant_types.index('oil')

for zone_i, zone in enumerate(zones):
    if zone == 'DE_LU':
        df_kyos_z = df_kyos[df_kyos.powercommid == 'DE']
    else:
        df_kyos_z = df_kyos[df_kyos.powercommid == zone]
    
    natural_gas_eff = round(((df_kyos_z[df_kyos_z.reportingcommid == 'natural_gas'].effmax + df_kyos_z[df_kyos_z.reportingcommid == 'natural_gas'].effmin)/2).mean(), 2)
    brown_coal_eff = round(((df_kyos_z[df_kyos_z.reportingcommid == 'brown_coal'].effmax + df_kyos_z[df_kyos_z.reportingcommid == 'brown_coal'].effmin)/2).mean(), 2)
    hard_coal_eff = round(((df_kyos_z[df_kyos_z.reportingcommid == 'hard_coal'].effmax + df_kyos_z[df_kyos_z.reportingcommid == 'hard_coal'].effmin)/2).mean(), 2)
    oil_eff = round(((df_kyos_z[df_kyos_z.reportingcommid == 'oil'].effmax + df_kyos_z[df_kyos_z.reportingcommid == 'oil'].effmin)/2).mean(), 2)
    
    if np.isnan(natural_gas_eff):
        natural_gas_eff = round(((df_kyos[df_kyos.reportingcommid == 'natural_gas'].effmax + df_kyos[df_kyos.reportingcommid == 'natural_gas'].effmin)/2).mean(), 2)
    if np.isnan(brown_coal_eff):
        brown_coal_eff = round(((df_kyos[df_kyos.reportingcommid == 'brown_coal'].effmax + df_kyos[df_kyos.reportingcommid == 'brown_coal'].effmin)/2).mean(), 2)
    if np.isnan(hard_coal_eff):
        hard_coal_eff = round(((df_kyos[df_kyos.reportingcommid == 'hard_coal'].effmax + df_kyos[df_kyos.reportingcommid == 'hard_coal'].effmin)/2).mean(), 2)
    if np.isnan(oil_eff):
        oil_eff = round(((df_kyos[df_kyos.reportingcommid == 'oil'].effmax + df_kyos[df_kyos.reportingcommid == 'oil'].effmin)/2).mean(), 2)
    
    efficiencies[zone_i, natural_gas_i] = natural_gas_eff
    efficiencies[zone_i, brown_coal_i] = hard_coal_eff
    efficiencies[zone_i, hard_coal_i] = brown_coal_eff
    efficiencies[zone_i, oil_i] = oil_eff

In [19]:
efficiencies

array([[0.  , 0.35, 0.  , 0.5 , 0.29, 0.29, 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.35, 0.  , 0.5 , 0.29, 0.29, 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.35, 0.  , 0.49, 0.29, 0.29, 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.35, 0.  , 0.49, 0.29, 0.28, 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.33, 0.  , 0.5 , 0.28, 0.29, 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.34, 0.  , 0.48, 0.3 , 0.29, 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.35, 0.  , 0.55, 0.29, 0.3 , 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.35, 0.  , 0.5 , 0.29, 0.29, 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.32, 0.  , 0.5 , 0.24, 0.33, 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.39, 0.  , 0.51, 0.29, 0.29, 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.37, 0.  , 0.5 , 0.31, 0.29, 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.35, 0.  , 0.5 , 0.29, 0.29, 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.35, 0.  , 0.5 , 0.29, 0.29, 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.28, 0.  , 0.5 , 0.27, 0.29, 0.  , 0.  , 0.  , 0.  ]])

In [20]:
with open('plant_efficiencies.npy', 'wb') as f:
    np.save(f, efficiencies)